main {
    margin-right: 15px;
}

#content {
    background-color: lightgray;
    min-height: 86vh;
    text-align: justify;
    font-family: SEGOE SCRIPT;
    text-indent: 20px;
    padding: 30px;
}

.text-blog {
    display: flex;
    flex-direction: column;
}

.text p {
    font-size: 1.4em;
}

.text>ul, #contacts, #admin {
    font-size: 1.3em;
    font-family: MONOSPACE;
    list-style-type: none;
}

.comment {
    text-align: justify;
}

.comment>h4 {
    text-align: center;
}

.comment-title {
    text-align: center;
}

.comment-input {
    margin: 20px 0;
}

#myPhoto {
    float: left;
    margin: 10px;
    margin-bottom: 0;
}

#academy {
    float: right;
    margin: 10px;
    margin-bottom: 0;
}

.post h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.post img {
    float: left;
    margin: 10px;
}

.post-button {
    font-size: 1.3em;
    font-family: MONOSPACE;
}

.head {
    min-height: 300px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


hr {
    margin: 30px;
}

#admin>h3 {
    text-align: center;
    margin-bottom: 30px;
}

.table a{
    color: #212529;
    text-decoration: none;
}

.table a:hover {
    color: #fff;
}

.edit-img {
    margin-bottom: 20px;
}

footer-link {
    color: darkgrey;
}

.footer-link:hover {
    background: lightgray;
}

.page-item.active .page-link {
    background-color: #545b62;
    border-color: #545b62;
}

.page-link {
    color: #1b1e21;
}

.page-link:hover {
    color: #1b1e21;
}






