main {
    margin-right: 15px;
}

#content {
    background-color: lightgray;
    min-height: 86vh;
    text-align: justify;
    font-family: SEGOE SCRIPT;
    text-indent: 20px;
    padding: 30px;

}

    footer>li>a {
        color: darkgrey;
    }

    footer>li>a:hover {
        color: #f5f5f5;
    }
.text-blog {
    display: flex;
    flex-direction: column;
}

.text p {
    font-size: 1.4em;
}

.text>ul, #contacts, #admin {
    font-size: 1.3em;
    font-family: MONOSPACE;
    list-style-type: none;
}

.comment {
    text-align: center;
}

#myPhoto {
    float: left;
    margin: 10px;
    margin-bottom: 0;
}

#academy {
    float: right;
    margin: 10px;
    margin-bottom: 0;
}

.post img {
    float: left;
    margin: 10px;
}

.post a {
    font-size: 1.3em;
    font-family: MONOSPACE;
    float: right;
}

.head {
    min-height: 300px;
}

.foot {
    vertical-align: bottom;
}


hr {
    margin: 30px;
}


